header {
    overflow: hidden;
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    border-color: #cccccc;
    border-width: 40px;
    width: 100%
    
}
.header2 {
    overflow: hidden;
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    padding: 30px;
}
.header3 {
    overflow: hidden;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    padding: 30px;
}
#headerDiv {
    margin-left: 10%;
    margin-right: 10%;
}
.content {
    width: 960px;
    height: 800px;
    margin-left: 10%;
    /* margin-right: 50%; */
 /* display: flex; */
    margin-top: 30px;
    background-color:  wheat;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(216, 174, 95);
    border-top-width: 5px;
    border: solid;
    color: rgb(216, 174, 95);
    padding-bottom: 260px;
    margin-bottom: 30px;
    margin-left: auto; margin-right: auto;
}
.header-right {
    display: inline;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
    margin-left: 700px;
    float: right;
}
.name {
    padding: 10px;
    background-color: rgb(216, 174, 95);
    width:140px;
    margin: 0;
    font-size: 18px;
    color: black;
}
h6{
    display: inline;
    padding: 10px;
    background-color: wheat;
    width: 140px;
    margin: 0;
    font-size: 18px;
    color: black;

}
h1 {
    color: black;
}
#hr1 {
    border: solid;
    border-width: 2px;
    margin-bottom: 5px;
}
img {
    width: 250px;
    height: 300px;
    float: left;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
}
#paragraphabout {
    color: black;
    margin-bottom: 50px;
    border-bottom-width: 0px;
    padding: 0px;
}
.lajolla {
    width: 290px;
    height: 250px;
    padding: 10px;
    float: left;
}
.santamonica {
    height: 250px;
    width: 290px;
    padding: 10px;
    float: left;
}
.redrock {
    height: 250px;
    width: 290px;
    padding: 10px;
    /* float: right; */
}
#submit {
    background-color: rgb(216, 174, 95);
    color: #ffffff
}
button {
    background-color: wheat;
}
footer {
    text-align: center;
    border: solid;
    border-top-width: 5px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgb(216, 174, 95);
    background-color: wheat;
    width: 100%;
}